.content{
	width: 50em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
}

.content_block{
	display: inline-block;
	margin-top: 1em;
	width: 49%;
	height: 12em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content_block img{
	float: right;
	height: inherit;
}


.right_col{
	float: right;
}

.content_block .card_text{
	display: inline-block;
	padding: 0.5em;
	width: 35%;
}

.card_text hr{
	float: left;
	width: 35%;
}

.card_text_header{
	margin: 0.25em;
	font-size: 1em;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.card_text_content{
	display: inline-block;
	opacity: 0.5;
}

.content_bottom{
	margin-top: 1em;
}

.content_bottom img.footer_img{
	margin-top: 1em;
	width: 100%;
}

footer{
	position: relative;
	margin-top: 1em;
	height: 3em;
	color:#959595;
	width: 100%;
	background: #303030;
	box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2);
}

footer .footer_text{
	position: absolute;
	margin-left: 20%;
	top:50%;
	transform: translateY(-50%);
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 0.5em;
}