header{
	margin-top: 1em;
	width: 50em;
	margin-left: auto;
	margin-right: auto;
}

header nav{	
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translateY(-50%);
	padding: 0.4em;
	text-transform: uppercase;
	font-size: 0.75em;
}


nav a{
	text-decoration: none;
	padding: 0.4em;
}

nav  a:link , nav  a:visited{
	color: inherit;
}

nav a:hover{
	color:#AD6069;
}

.head_top{
	position: relative;
	margin-bottom:1em;
}

.header_text{
	font-family: "Times New Roman";
	font-size:20px;
	width: 75%;
	border-right: 1px solid grey;
}

.header_text p{
	margin-bottom: -1em;
}

.social_icons_wrapper{
	position: relative;
	float: right;
	width: 25%;
}

.social_icons_wrapper .social_icons{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}

.header_bottom{
	height: 4em;
}